{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recomender</title>
    {% include 'recommender/snippets/stylesmain.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'recommender/snippets/navbar.html' %}

        {% include 'recommender/snippets/sidebar.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'recommender/snippets/footer.html' %}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    {% include 'recommender/snippets/scriptsmain.html' %}
    {% block customscript %}
    {% endblock customscript %}
</body>

</html>