{% extends 'recommender/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- <div class="card card-primary card-outline">
        <div class="card-header">
            Jumlah Genre
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            {% for key, value in data.items %}
                            <th scope="col">{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            {% for key, value in data.items %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div> -->

      <div class="card card-primary card-outline">
        <div class="card-header">
            Rekomendasi Movie dengan Genre {{ genre }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                <table class="table" id="table-user">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Judul</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Rating rata-rata</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in movie.items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ key }}</td>
                            <td>{{ value.title }}</td>
                            <td>{{ value.genre }}</td>
                            <td>{{ value.avg }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}


{% block customscript %}
<script>
  $('#table-user').DataTable();
</script>
{% endblock customscript %}